@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  /* --white: hsl(0, 0%, 98%); */
  --green: hsl(101, 100%, 50%);
  --blue: hsl(207, 43%, 9%);
  --gray-green: hsl(138, 8%, 53%);
  --background-grey: hsl(0, 0%, 90%);
  --background-grey-accent: hsl(0, 0%, 98%);
  --red: hsl(0, 100%, 50%);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #__next {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--white);
  color: var(--blue);
}

h1 {
  font-size: 46px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

button {
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  display: block;
}

span.text {
  color: var(--green);
}
span.click {
  cursor: pointer;
  text-decoration: underline;
}
span.bold {
  font-weight: bold;
}

input {
  border: none;
  outline: none;
  font-size: 16px;
  /* padding: 0.5rem; */
}
input:focus {
  border: none;
  outline: none;
}

section {
  padding: 2rem;
}

header {
  padding: 1rem 2rem;
  width: 100%;
  /* outline: 1px solid red; */
}

footer {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;

  background-color: var(--blue);
  color: var(--white);

  text-align: center;
}
footer > * {
  margin: 2rem 0;
}
footer p:first-of-type {
  margin-top: 4rem;
}

form {
  width: 100%;
  max-width: 1100px;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.icon {
  color: var(--blue);
  font-size: 2rem;
}

.logo {
  cursor: pointer;
}

.btn-main {
  color: var(--white);
  background-color: var(--green);
  padding: 12px 24px;
  border-radius: 3px;
}
.btn-main:hover,
.btn-main:focus {
  background-color: #00fc00;
}

.btn-disabled {
  padding: 1rem 1.5rem;
  font-size: 14px;
  border-radius: 3px;
  background-color: rgb(43, 43, 43);
  color: var(--white);
  cursor: not-allowed;
}

.btn-back {
  background-color: transparent;
  display: flex;
  align-items: center;
  /* margin-bottom: 2rem; */
}
.btn-back p {
  margin-left: 0.25rem;
}

.subtitle {
  font-style: italic;
  color: var(--gray-green);
  font-weight: 500;
  margin: 0.5rem 0;
}

.rating-container {
  display: flex;
  align-items: center;
  margin: 0.75rem 0;
}
.rating-container p {
  margin-left: 0.5rem;
}

/* Review Completed Modal */
.review-modal-bg {
  z-index: 3;
  position: fixed;
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.review-modal {
  background-color: var(--white);
  text-align: center;
  width: 90%;
  padding: 1rem;
  border-radius: 5px;
}

/* Homepage */
.hero {
  position: relative;
  isolation: isolate;
  height: 100vh;
}

.hero-image {
  z-index: 1;
}

.hero-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 2;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.hero-logo {
  position: absolute;
  margin-left: 2rem;
  margin-top: 2rem;
  z-index: 3;
}

.hero-content-outer {
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content-inner {
  width: 100%;
  max-width: 800px;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .hero-content-inner {
    transform: translateY(-25%);
  }
}

.hero-content-search-div {
  background-color: var(--white);
  width: 100%;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.hero-content-search-div input {
  display: flex;
  flex-grow: 1;
}

.hero-search-div {
  position: absolute;
  top: 105%;
  width: 100%;
  z-index: 4;
  border-radius: 5px;
  overflow: hidden;
}
.hero-search-div > div {
  background-color: var(--white);
  color: var(--blue);
  padding: 0.25rem;
  cursor: pointer;
  font-weight: bold;
  text-align: left;
  border: 0.1px solid var(--background-grey);
}
.hero-search-div > div:hover {
  background-color: var(--background-grey);
}

.home-content {
  padding: 2rem 2rem;
  margin: 4rem 0;
  display: grid;
}

.content-1 {
  grid-template-columns: 4fr 6fr;
}

.content-2 {
  grid-template-columns: 6fr 4fr;
}

.home-content > .image,
.home-content > .text {
  width: 100%;
}

.home-content > .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-align: start; */
}
.home-content > .text > div {
  max-width: 45ch;
}
.home-content > .text > div > * {
  margin: 1rem;
}

.home-universities-section {
  text-align: center;
}

.home-universities-section > .container {
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 3rem;
  column-gap: 2rem;
}

.uni-card h5 {
  margin: 1rem 0;
}

.uni-card-img {
  display: block;
  width: 100%;
  padding-top: 75%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 20px;
}
/* .uni-card-img img {
  position: absolute;
  inset: 0;
} */



/* Universities Page */
.banner {
  width: 100%;
  height: 50vh;
  position: relative;
}

.uni-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.uni-content > div {
  padding: 2rem;
}

.spacing {
  margin-bottom: 2rem;
}

.uni-content > .residences {
  margin-bottom: 2rem;
}

.residence-card-container {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

.residence-card {
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 15%);

  display: flex;
  cursor: pointer;
}
.residence-card:hover {
  background-color: var(--background-grey-accent);
}

.residence-card-content {
  margin-left: 1rem;

  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 550px) {
  .residence-card-content h4 {
    font-size: 18px;
  }
}



/* Add Dorm Page */
.add-dorm-page {
  padding: 2rem 2rem;
}

.form-box {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.res-name-form-box {
  display: block;
}
.form-box-no-inbetween {
  justify-content: flex-start;
}
.form-box-amenities,
.form-box-comment {
  flex-direction: column;
  align-items: flex-start;
  max-width: 700px;
}

@media screen and (max-width: 960px) {
  .form-box {
    flex-direction: column;
    align-items: flex-start;
  }
}
 
.form-text {
  margin: 0.25rem 2rem 0.25rem 0;
}

.form-text p {
  color: var(--gray-green);
  margin: 0.25rem 0;
}

.input-container {
  width: 100%;
  max-width: 300px;
  margin: 1rem 0;
}

.amenities-section {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.amenity {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  /* border: 3px solid var(--blue); */
  border-radius: 50px;
  box-shadow:  2px 2px 4px #919191,
              -2px -2px 4px #ffffff;
  /* z-index: 4; */
  cursor: pointer;
}
.amenity p {
  margin-right: 1rem;
}

.amenity-active {
  background-color: var(--green);
}

.comment-container {
  width: 100%;
  margin: 1rem 0;
}


/* Residence Page */
/* .residence-page {
  padding: 2rem;
} */


.residence-page > .name {
  padding: 1.5rem;
}

.res-banner {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'content image';
}

.res-banner > .content {
  grid-area: content;
  padding: 5rem 2rem;
  color: var(--blue);
  background-color: var(--background-grey-accent);
}
/* .res-banner > .content > h1, */
.res-banner > .content > button {
  margin: 1rem 0;
}

.res-banner > .image {
  grid-area: image;
  height: 100%;
  position: relative;
}


.res-content {
  /* height: 1000px; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'specs reviews';
}

.res-specs {
  grid-area: specs;
  padding: 2rem;
}

.rating-spec {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.rating-spec > div {
  margin-right: 0.75rem;
}

.res-specs > .spacing > h5 {
  margin-bottom: 1rem;
}

.amenity-spec {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}
.amenity-spec span {
  margin-left: 0.75rem;
}

.class-spec {
  margin: 0.5rem 0;
}

.percentage-div {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
}
.percentage-div > span.percentage {
  margin-left: 0.5rem;
  min-width: 41px;
}

.MuiLinearProgress-root {
  height: 20px;
  border-radius: 5px;
  display: flex;
  flex-grow: 1;
}
.MuiLinearProgress-bar {
  border-radius: 5px;
}

.reviews {
  grid-area: reviews;
  padding: 2rem;
}

.reviews-container {
  width: 100%;
}

.review {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  /* padding: 1rem; */
  box-shadow: 0 1px 0px 0 rgb(0 0 0 / 15%);
}
.review > p {
  display: block;
  margin: 0.5rem 0;
}

.recommends-div {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}
.recommends-div > p {
  margin-left: 0.5rem;
}


/* Media 960px */
@media screen and (max-width: 960px) {
  /* homepage */
  .hero-content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-content-inner h2 {
    font-size: 20px;
    max-width: 40ch;
  }

  .content-1 {
    grid-template-columns: 1fr;
  }

  .content-2 {
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-areas: 'text' 'image';
  }
  .content-2 > .image { grid-area: image; }
  .content-2 > .text { grid-area: text; margin-bottom: 2rem; }

  .home-content > .text {
    text-align: center;
  }

  /* University Page */
  .uni-content {
    grid-template-columns: 1fr;
  }

  /* Residence Page */
  .res-banner {
    grid-template-columns: 1fr;
    grid-template-rows: 50vh auto;
    grid-template-areas: 'image' 'content';
  }

  .res-banner > .content {
    padding: 2rem;
  }

  .res-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'specs' 'reviews';
  }
}